page-reportes {

    .logo{
        display: block;
        margin: 0 auto 10px;
    }


    .scroll-content{
        background: linear-gradient(10deg, rgb(185, 185, 185), rgba(114, 114, 114, 0.671));
    
     }

     .contenedor{
        background-color: rgba(255, 255, 255, 0.685);
        padding: 0;
        width: 100%;
        

    }

    .titulo{
        font-size: 14px;
        font-weight: 600;
        text-transform: uppercase;
    }

    .contenido{
        font-size: 11px;
        font-weight: 500;
        text-transform: uppercase;
    }

    .linea{
        
        background: linear-gradient(10deg, rgb(255, 255, 255), #efba2c);
        height: 1px;
    }



   
  
}
