page-login {

    .columna{
        margin-bottom: 10px;
    }

    .scroll-content{
       background: linear-gradient(10deg, rgb(185, 185, 185), rgba(114, 114, 114, 0.671));
    
    }
    
    .boton{
        font-size: 15px;
        font-weight: 500;
        text-transform: lowercase;
    }

    .card{
        margin-top: 80px;
        opacity: .8;
    }

    .campo{
        font-size: 15px;
        
    }

    
    .crear{
        background-color: #dab348;
    }

    .icono{
        margin-right: 10px;
        font-size: 18px;
    }


   
    

}
