page-usuarios{

    .perfil{
        display: block;
        margin: 0 auto;
        max-width: 200px;
        border-radius: 50%;
        box-shadow: 5px 2px  rgba(black, .3);
    }

    .logo{
        display: block;
        margin: -15px auto 10px;
    }



    .icono{
    padding-right: 10px;        

    }
    
}