page-usuarios{

    img{
        display: block;
        margin: 0 auto;
        max-width: 200px;
        border-radius: 50%;
        box-shadow: 5px 2px  rgba(black, .3);
    }

    div{
        text-align: center;
    }

    .icono{
    padding-right: 10px;        

    }
    
}