page-usuarios{

    .perfil{
        display: block;
        margin: 0 auto;
        max-width: 200px;
        border-radius: 50%;
        box-shadow: 3px 1px  rgba(black, .5);
    }

    .logo{
        display: block;
        margin: 0 auto 10px;
      
        
    }

    


    .icono{
    padding-right: 10px;
    color: black;        

    }

    

    .scroll-content{
        background: linear-gradient(10deg, rgb(185, 185, 185), rgba(114, 114, 114, 0.671));
    
     }

     .texto{
         color: black;
         text-transform: uppercase;
         font-weight: 400;
     }

     .contenedor{
        background-color: rgba(255, 255, 255, 0.685);
        width: 100%;
        
       

    }

    
}

.hoja-accion{

    .ion-md-image, .ion-ios-image{
        color: #ED4248;
    }

    .ion-md-camera, .ion-ios-camera{
        color: #508AE4;
    }

  }

