
<ion-header>
    <ion-toolbar>
      <ion-segment [(ngModel)]="categoria" color="nav" (ionChange)="segCambio()">
        <ion-segment-button value="trabajadores">
          Trabajadores
        </ion-segment-button>
        <ion-segment-button value="visitantes">
          Visitantes
        </ion-segment-button>
      </ion-segment>
    </ion-toolbar>
  </ion-header>

  

<ion-content [ngSwitch]="categoria" >

    

    <div class="contenedor">
        <img class="logo" src="../../assets/imgs/axesslogo.png" alt="" width="200px" height="80px">

    </div>
    


    <div  *ngSwitchCase="'trabajadores'" >

        <ion-card *ngFor="let item of prueba" (click)="detalleTrab(item)">
            <ngx-qrcode qrc-element-type="img" id="{{item.key}}" (press)="vamos(item)" qrc-value='{"clave": "{{ item.key }}" , "nombre": "{{ item.name }}" , "curp" : "{{item.curp}}", "rfc" : "{{item.rfc}}", "cedula" : "{{item.cedula}}", "url": "{{ item.url }}", "tipo": "{{ item.tipo }}" }'></ngx-qrcode>
            <ion-card-content>
              <ion-card-title class="card" >
                <i class="fas fa-qrcode icono"></i>
                  {{ item.name }}
                </ion-card-title>
            </ion-card-content>
          </ion-card>

        </div>

        <div  *ngSwitchCase="'visitantes'" >

          <ion-card *ngFor="let item of prueba" >
              <ngx-qrcode id="{{item.key}}" (press)="vamos(item)" qrc-element-type="img" qrc-value='{"clave": "{{ item.key }}" , "nombre": "{{ item.name }}" , "curp" : "{{item.curp}}", "rfc" : "{{item.rfc}}", "cedula" : "{{item.cedula}}", "tipo": "{{ item.tipo }}" }'></ngx-qrcode>
              <ion-card-content>
                <ion-card-title class="card">
                    <ion-icon class="icono" name="person"></ion-icon>
                    {{ item.name }}
                  </ion-card-title>
                   
              </ion-card-content>
            </ion-card>
  
          </div>

      <ion-fab right bottom>
          <button ion-fab   (click)="agregar()"><ion-icon name="add" ></ion-icon></button>
          </ion-fab>
      
    
  
</ion-content>
